/* UNIVERSAL STYLES */

body {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-color: #EEE;
  margin: 0px;
}

h1 {
  font-family: "Source Serif Pro", serif;
  font-size: 5em;
  text-align: center;
  color: cadetblue;
}

h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 3em;
  text-align: center;
  color: cadetblue;
}

span {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  margin-right: 2em;

}

.container {
  /*border: 1px black solid;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  margin-top: -1em;
}

.content {
  margin: 0 auto;
  padding-top: 3rem;
  width: 50%;
}


/* NAV */

.navcontainer {
  margin-right: 0;
  /*border: 1px black solid;*/
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#glasses {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  margin-top: 2px;
}

#contact {
  margin-right: 2em;
}

a {
  color: white;
  text-decoration: none;
  margin: 1rem .5rem;
}

a:hover {
  transition: 1s;
  color: dimgrey;
}


/* HEADER */

.menu {
  flex: start;
  flex-direction: row;
  justify-content: flex-end;
  display: inline-block;
  color: white;
}



span, #header {
  color: white;
  width: 200px;
  margin-top: 15px;
}

.heroimage {
  width: 100%;
  height: 30rem;
  background-image: url("/resources/images/glasses-bg.png");
  background-size: cover;
  background-position: 20%;

}

.headcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*border: 1px black solid;*/
  height: 3.5em;
  margin: 1.5em auto;
  width: 80%;
  background-color: cadetblue;
}

.mobilemenu {
  display: none;

}

.titlebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-top: 5rem;
  float: right;
  height: 8rem;
  width: 50%;
  background-color: white;
  color: dimgrey;
}

.titlebox:hover {
  background-color: cadetblue;
  transition: 1s;
  color: white;
}

#title {
  color: dimgrey;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 1rem;
  width: 400px;

}

#title:hover {
  color: white;
}

/* BODY */

.iconcontainer {
  /*outline: 1px black solid;*/
}

.icons {
  /*border: 1px black solid;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  height: 25em;
  width: 75%;
  overflow: none;
}

.column {
  /*border: 1px black solid;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;

  margin: 0em 3em 0em 3em;


}

#paper {
  height: 5.5rem;
  width: 4rem;
}

#ruler {
  width:6rem;
  height: 3rem;
  margin-left: 0rem;
  margin-top: 0px;
  padding: 2rem;
}

#truck {
  margin-left: 0rem;
  margin-top: 0px;
  height: rem;
  width: 6.5rem;
  padding: 2rem;
}

.icon__notes {
  color: black;
  width: 50%;
  position: relative;
  padding-top: 70px;
  margin: 0 auto;
}

#icon__note {
  display: flex;
  align-items: center;
  border: 1px black solid;
  padding-top: 2rem;
  text-align: center;
  color: black;
}

.bottomcontainer {
  margin: 0rem 2rem;
}

.bottom {
  padding-top: 0rem;
  /*border: 1px black solid;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  positon: center;

  width: 85%;

}

#philosophy {
  width: 70%;
  /*outline: 1px black solid;*/
  margin: 0%;
  margin-bottom: 5rem;
}

#spacer {
  width: 1px;
  margin-left: 200px;
}

#appointments {
  width: 70%;
  /*outline: 1px black solid;*/
  margin: 0%;
  margin-left: 0px;
}

#copy {
  margin: 3rem 0rem;
  width: 85%;

}

.title__bottom {
  font-family: helvetica;
  font-weight: bold;
  background-color: cadetblue;
  width: 14rem;
  color: white;
  height: 1.75rem;
  text-align: center;
  padding: 0.5rem 0rem;
  margin: 0;
}

/* FOOTER */



span, #copyright {
  color: black;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 300px;
}

#glassesblack {
    height: 1.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-top: 2px;
  }

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: azure;
  height: 9.5rem;
  width: 100%;
}


/* MEDIA QUERIES */


/* TABLET */

@media screen and (max-width: 768px){

body { background-color: #eee;
}

#header {
  display: none;
}

.headcontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: .3em;
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-top: 5px;
  display: none;
}

.mobilemenu {
  color: white;
  margin-right: 5%;
  margin-top: 10px;
  margin-left: 50%;
  left: 33rem;
  display: block;

}

.bottomcontainer {
  margin: 0rem 0rem;
}

#glasses {
  margin-top: 12px;
}

#contact {
  margin-right: 0px;
}

#title {
  width: 450px;
  margin-left: 4rem;
  font-size: 28px;
}

.titlebox {
  width: 90%;
}

#spacer {
  width: 0px;
}

#appointments {
  margin-right: 40px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

span, #copyright{
  color: black;
  }
}


/* PHONE */

a {
  margin-right: 0px;
}

@media screen and (max-width: 480px) {

body {
  background-color: #EEE;
  height: 300px;
}

.headcontainer {
  display: flex;
  justify-content: space-between;
}

.navcontainer {
  display: none;
}

.titlebox {
  position: relative;
  top: 260px;
  padding-top: 300px;
  width: 100%;
  height: 4em;
  margin: 0 auto;
  padding: 0;
}

#header {
  color: grey;
  display: none;
}

.mobilemenu {

  color: white;
  margin-right: 10%;
  margin-top: 10px;
  display: block;

}

.iconcontainer {
  position: relative ;
  top: 40px;
  margin-top: 105px;
  /*outline: 1px black solid;*/
}

.icons {
  flex-direction: column;
  margin-top: 100px;
  height: 30em;
}

#ruler {
  margin-top: 100px;
}

#truck {
  margin-top: 210px;
}

.bottom {
  width: 100%;
  margin-top: 200px;
  flex-direction: column;
}

 #title{
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.bottomcontainer {
  margin-top: 100px;
  flex: start;
  flex-direction: column;
}

.title__bottom {
  float: left;
  width: 100%;
}

#copy {
  margin: 50px 0px;
  width: 100%;
  padding-right: 20px;
  padding-left: 15px;
}

.column {
  margin-bottom: 100px;

}

footer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.bottomcontainer {
  margin: 0rem 0rem;
}

#philosophy {
  width: 100%;

}

#appointments {
  width: 100%;
}

#copyright{
  color: black;
  display: none;
  }
}

@media screen and (min-width: 480px)
