/* UNIVERSAL STYLES */

body {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-color: #EEE;
}

h1 {
  font-family: "Source Serif Pro", serif;
  font-size: 5em;
  text-align: center;
  color: cadetblue;
}

h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 3em;
  text-align: center;
  color: cadetblue;
}

span {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  color: white;
  margin-right: 2em;
}

.container {
  margin-top: -1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* HEADER */

.menu {
  flex: start;
  flex-direction: row;
  justify-content: flex-end;
  display: inline-block;
  color: white;
}

.heroimage {
  width: 100%;
  height: 30rem;
  background-image: url('/Stuff/development projects/codecademyprojects/12.TortiseshellOptics/resources/images/glasses-bg.png');
  background-size: cover;

}

.headcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*border: 1px black solid;*/
  height: 3.5em;
  margin: 1.5em auto;
  width: 80%;
  background-color: cadetblue;
}

/* NAV */

.navcontainer {
  margin-right: 0;
  /*border: 1px black solid;*/
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#glasses {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

#contact {
  margin-right: 2em;
}

a {
  color: white;
  text-decoration: none;
  margin: 1rem .5rem;
}

a:hover {
  transition: 1s;
  color: dimgrey;
}
