/* UNIVERSAL STYLES */

body {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-color: #EEE;
}

h1 {
  font-family: "Source Serif Pro", serif;
  font-size: 5em;
  text-align: center;
  color: cadetblue;
}

h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 3em;
  text-align: center;
  color: cadetblue;
}

span {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  color: white;
  margin-right: 2em;
}

.container {
  /*border: 1px black solid;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  margin-top: -1em;
}

.content {
  margin: 0 auto;
  padding-top: 3rem;
  width: 50%;
}


/* NAV */

.navcontainer {
  margin-right: 0;
  /*border: 1px black solid;*/
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#glasses {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

#contact {
  margin-right: 2em;
}

a {
  color: white;
  text-decoration: none;
  margin: 1rem .5rem;
}

a:hover {
  transition: 1s;
  color: dimgrey;
}


/* HEADER */

.menu {
  flex: start;
  flex-direction: row;
  justify-content: flex-end;
  display: inline-block;
  color: white;
}

.heroimage {
  width: 100%;
  height: 30rem;
  background-image: url('/Stuff/development projects/codecademyprojects/12.TortiseshellOptics/resources/images/glasses-bg.png');
  background-size: cover;

}

.headcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*border: 1px black solid;*/
  height: 3.5em;
  margin: 1.5em auto;
  width: 80%;
  background-color: cadetblue;
}

.titlebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10rem 5rem;
  float: right;
  height: 8rem;
  width: 40%;
  background-color: white;
  color: dimgrey;
}

.titlebox:hover {
  background-color: cadetblue;
  transition: 1s;
  color: white;
}

#title {
  color: dimgrey;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 1rem;

}

#title:hover {
  color: white;
}

/* BODY */

.icons {
  /*border: 1px black solid;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  height: 20em;
  width: 65%;
  overflow: none;
}

.column {
  /*border: 1px black solid;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 12rem;
  margin: 3rem;

}

#paper {
  height: 5.5rem;
  width: 4rem;
}

#ruler {
  width:6rem;
  height: 3rem;
  margin-left: 0rem;
  padding: 2rem;
}

#truck {
  margin-left: 0rem;
  height: rem;
  width: 6.5rem;
  padding: 2rem;
}

.icon__notes {
  color: black;
  width: 50%;
  position: relative;
  padding-top: 70px;
  margin: 0 auto;
}

#icon__note {
  display: flex;
  align-items: center;
  border: 1px black solid;
  padding-top: 2rem;
  text-align: center;
  color: black;
}

.bottom {
  padding-top: 0rem;
  /*border: 1px black solid;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  positon: center;
  height: 10em;
  width: 65%;

}

#philosophy {
  width: 45%;
  /*outline: 1px black solid;*/
  margin: 5%;
}

#copy {
  margin-top: 2rem;
  width: 95%;

}

.title__bottom {
  font-family: helvetica;
  font-weight: bold;
  background-color: cadetblue;
  width: 10rem;
  color: white;
  height: 1.75rem;
  text-align: center;
  padding: 0.5rem 1.25rem;
  margin: 0;
}

/* FOOTER */

.foot {
  margin-bottom: 14rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top;
  background-color: azure;
  height: 9.5rem;
  width: 960px;
}




/* MEDIA QUERIES */


/* TABLET */

@media screen and (max-width: 768px){

body { background-color: darkgrey;
}

.headcontainer {
  width: 100%;
  margin-top: .3em;
}

.titlebox {
  width: 60%;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 50px;
}

#footcontent{
  flex: start;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
}


/* PHONE */

@media screen and (max-width: 480px) {

body {
  background-color: blue;
}

.title{

}

.navcontainer {
  display: none;
}

.titlebox {
  position: relative;
  top: 260px;
  padding-top: 300px;
  width: 100%;
  height: 4em;
  margin: 0 auto;
  padding: 0;
}

#header {
  display: none;
}

.icons {
  flex-direction: column;
  margin-top: 100px;
}

.bottom {
  margin-top: 100px;
  flex-direction: column;
}

#title{
  width: 100%;
}

.title__bottom {
  float: left;
  width: 500px;
}

#copy {
  width: 500px;
}

.column {
  margin-top: 100px;
}

footer {
  height:
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
}
